<div class="doc-header">
    <div class="container">
        <h1>Présentation de Turélia</h1>
    </div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar hidden-print" role="complementary" >
                <ul class="nav sidebar-sidenav affix" data-spy="affix" data-offset-top="190" data-offset-bottom="200">
                    <li class="active">
                        <a href="#overview">Aper&ccedil;u</a>
                        <ul class="nav">
                            <li class="active">
                                <a href="#overview-micronation">Micronation</a>
                            </li>
                            <li class>
                                <a href="#overview-turelian">Turélian</a>
                            </li>
                            <li class>
                                <a href="#overview-baravens">Baravens</a>
                            </li>
                        </ul>
                    </li>
                    <li class>
                        <a href="#history">Histoire</a>
                        <ul class="nav">
                            <li class>
                                <a href="#history-genese">Genèse</a>
                            </li>
                            <li class>
                                <a href="#history-firstkingdom">Le premier Royaume</a>
                            </li>
                            <li class>
                                <a href="#history-tilavin">La fondation de l'Église Tilavin</a>
                            </li>
                            <li class>
                                <a href="#history-falloffirstkingdom">La chute du premier Royaume</a>
                            </li>
                            <li class>
                                <a href="#history-tilavindogma">Le dogme de l'Église Tilavin</a>
                            </li>
                            <li class>
                                <a href="#history-revolution">La révolte</a>
                            </li>
                            <li class>
                                <a href="#history-firstrepublic-constitution">La fondation de la première République</a>
                            </li>
                            <li class>
                                <a href="#history-whatnext">Que nous réserve l'avenir ?</a>
                            </li>
                        </ul>
                    </li>
                    <li class>
                        <a href="#geography">Géographie</a>
                        <ul class="nav">
                            <li class>
                                <a href="#geography-asengar">Asengar</a>
                                <ul class="nav">
                                    <li class>
                                        <a href="#geography-asengar-data">Aperçu</a>
                                    </li>
                                    <li class>
                                        <a href="#geography-asengar-baravens">Les Baravens</a>
                                        <ul class="nav">
                                            <li class>
                                                <a href="#geography-asengar-baravens-alrun">Alrun</a>
                                            </li>
                                            <li class>
                                                <a href="#geography-asengar-baravens-havard">Havard</a>
                                            </li>
                                            <li class>
                                                <a href="#geography-asengar-baravens-thorkel">Thorkel</a>
                                            </li>
                                            <li class>
                                                <a href="#geography-asengar-baravens-valagern">Valagern</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="page-header">
                <h1 id="overview">Aper&ccedil;u</h1>
                <hr>
                <h3 id="overview-micronation">Micronation</h3>
                <p>
                    La <i>République de Turélia</i> est une micronation. Il existe plusieurs sorte de micronation. Certaine très sérieuse,
                    qui ont un territoire réel et qui souhaite se faire reconnaitre comme état légitime par l'ONU. D'autre, comme
                    la nôtre ont d'autres pretensions.
                </p>
                <p>
                    Nous aimons parler de <i>Turélia</i> comme étant une simulation politico-socio-économique. Ainsi, nous pouvons mettre
                    en pratique des idées qui serait très difficile de faire accepter dans la réalité.
                </p>
                <p>
                    <i>Turélia</i> est donc un jeu, car l'un des objectifs est de se divertir. Mais est aussi une simulation, car
                    nous prenons très a coeur ce que nous y faisons. Et nous nous y appliquons.
                </p>
                <p>
                    Peut-être qu'un jour notre nation 'virtuelle' pourra devenir plus réelle, mais pour le moment, ce n'est pas
                    à l'ordre du jour. <i class="fa fa-smile-o"></i>
                </p>

                <h3 id="overview-turelian">Turélian</h3>
                <p>
                    Bien que le Français et l'Anglais soient des langues reconnues par l'état. Nous avons aussi notre propre langage : <i>le Turélian</i>.
                </p>

                <h3 id="overview-baravens">Baravens</h3>
                <p>
                    Baravens est un mot Turélian, il peut se traduire par "province" en français. En tant que tel, elle dispose d'un certain niveau d'autonomie.
                    Chaque baravens à un Gouverneur, nommé par le Président, et qui sont chargé de parler en son nom. Les baravens sont pour le moment au nombres de 4 dans
                    la République :
                </p>
                <ul style="font-weight: 400;">
                    <li>Alrun</li>
                    <li>Havard</li>
                    <li>Thorkel</li>
                    <li>Valagern</li>
                </ul>
                <p>Vous pourrez trouver plus d'informations sur chacunes d'entre-elle dans la section qui leur est consacrée.</p>


                <h1 id="history">Histoire</h1>
                <hr>
                <h3 id="history-genese">La genèse de Turélia</h3>
                <p>
                    A l'origine, le territoire de l'actuel Asengar était peuplé par des tribus. Celle-ci étaient en perpetuelle guerre.
                    Les escarmouches étaient très fréquente. A tel point qu'il était impenssable de quitter le territoire de sa tribu
                    sans se faire attaquer par les autres.
                </p>
                <p>
                    Dans ce contexte difficile, personne n'imaginait qu'il soit possible un jour de les unir sous une même banière.
                    C'était pourtant le rêve d'un homme, <i>Sokan Umer</i>. Le chef de la tribu des Asengarii. Il tenta par bien des
                    moyens d'arriver à ses fins, mais la tâche semblait infinie. C'est alors qu'un soir, en rentrant d'un raid sur
                    une tribu voisine. Sokan entendit un grondement sourd battre l'air au dessus de lui. Il regarda par dessus son épaule
                    et vit l'abomination.
                </p>
                <p>
                    Un dragon. Énorme. Fillait dans le ciel à toute allure en direction de Sokan et de sa tribu. [...]
                </p>
                <p>
                    La destruction d'Asengar. [...]
                </p>
                <p>
                    Le désespoir. [...]
                </p>
                <p>
                    L'unification. [...]
                </p>
                <p>
                    La défaite des dragons. [...]
                </p>
                <p>
                    La victoire d'Asengar. [...]
                </p>
                <h3 id="history-firstkingdom">Le premier Royaume</h3>
                <h3 id="history-tilavin">La création de l'Église Tilavin</h3>
                <h3 id="history-falloffirstkingdom">La chute du premier Royaume</h3>
                <h3 id="history-tilavindogma">Le dogme de l'Eglise Tilavin</h3>
                <h3 id="history-revolution">La révolte</h3>
                <h3 id="history-firstrepublic-constitution">Les fondements de la première République</h3>
                <h3 id="history-whatnext">Que nous réserve l'avenir ?</h3>

                <h1 id="geography">Geographie</h1>
                <hr>
                <h3 id="geography-asengar">L'Asengar</h3>
                <h4 id="geography-asengar-data">Aperçu</h5>
                <h4 id="geography-asengar-baravens">Les Baravens</h5>
                <h5 id="geography-asengar-baravens-alrun">Alrun</h7>
                <h5 id="geography-asengar-baravens-havard">Havard</h7>
                <h5 id="geography-asengar-baravens-throkel">Thorkel</h7>
                <h5 id="geography-asengar-baravens-valagern">Valagern</h7>
            </div>
        </div>
    </div>
</div>