<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>Personnages <small>Aperçu</small></h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-user"></i> Personnages</li>
            </ol>
            <!--<div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Welcome to SB Admin by Blah blah blah
            </div>-->
        </div>
    </div>

    <!-- PANELS -->

    <div class="row">

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>[NAME CHARACTER 1]</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Voir le profile
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>[NAME CHARACTER 2]</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Voir le profile
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>[NAME CHARACTER 3]</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Voir le profile
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>[NAME CHARACTER 4]</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                Voir le profile
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row">

    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>[NAME CHARACTER 5]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Voir le profile
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>[NAME CHARACTER 6]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Voir le profile
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>[NAME CHARACTER 7]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Voir le profile
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>[NAME CHARACTER 8]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img class="avatar" src="/images/default-avatar.png" alt="default avatar" />
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Voir le profile
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    </div>
</div>